
header{
    background-color: #427A82;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
header li{
    margin:2em;
}

header li a{
    color: black;
    text-decoration: none;
}
footer{
    background-color: #012E34;
}
main{
    flex:1;
    background-color: red;
    color:white;
    float:left;
    width:40em;
    height:100%;
    margin-left:20em;



}
h1{
    color: #69969C;
    font-size: 2.5em;

}
aside{
   
    background-color:#69969C;
    border: 1px solid red;
    color:black;
    margin-left:70em;
    margin-top:0px;
    height:100%;
    overflow: hidden;

}
aside h1{
    color:black;
}
body {                
    display: flex;
    background-color: #121212;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 100%;
  }
header li{
    display:inline;
    
}
footer p{
    text-align: center;
    color: #69969C;
    vertical-align: middle;
}
p{
    font-size: 1.25em;
}
.categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #012E34;

}
.categories li{
    display: inline;
    margin: 1em;

}
.categories li a{
    color: black;
    text-decoration: none;
}
#category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    width: 100%;
    background-color: #012E34;;
}

#createPost{
    margin-top:1em;
    width:100%;
}
#sort{
    margin-top:1em;
    width:100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    align-items: center;

}
#sort button{
    height:20%;

}
#sort p{
    color: black;
}

.postBox{
    height:15em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:#69969C;
}
.upDownVote{
    width:20%;
    display: flex;
    flex-direction: column;
    float:left;
    height: 15em;
    align-items: center;
    justify-content: center;
}
.post{
    margin-left:25%;
    height: 13em;
    color:black;
    overflow: hidden;
    margin-bottom: 0.5em;
    font-size: 0.75em;

}

.comments{
    margin-left:25%;
    width:100%;
    height: 1em;
    margin-top:1em;
    

}

.form{
    display:flex;
    flex-direction: column;
    background-color:#69969C ;
}


.profile{
    background-color: #69969C;
 
} 
#postForm{
    display:flex;
    flex-direction: column;
    background-color:#69969C ;
}
#postForm input{
    display: block;
}
#postForm textarea{
    display: block;
}

#dropdown{
    display: flex;
    flex-direction: row;
  
}
a:hover{
    color: #0a14dd;
}


